ws_lunch/src/Models/generated/client/Restaurants.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RestaurantsService" targetNamespace="http://service/" xmlns:ns1="http://localhost/jaxws/RestaurantsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/jaxws/RestaurantsService" elementFormDefault="unqualified" targetNamespace="http://localhost/jaxws/RestaurantsService" version="1.0">
<xs:element name="getRestaurants" type="tns:getRestaurants"/>
<xs:element name="getRestaurantsResponse" type="tns:getRestaurantsResponse"/>
<xs:element name="sendUserOrder" type="tns:sendUserOrder"/>
<xs:element name="sendUserOrderResponse" type="tns:sendUserOrderResponse"/>
<xs:complexType name="getRestaurants">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getRestaurantsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Restaurants" type="tns:restaurant"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="menu" type="tns:menu"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="menu">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:item"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendUserOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserOrder" type="tns:userOrder"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="userOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="item" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="restaurant" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendUserOrderResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRestaurantsResponse">
    <wsdl:part name="parameters" element="ns1:getRestaurantsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendUserOrder">
    <wsdl:part name="parameters" element="ns1:sendUserOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendUserOrderResponse">
    <wsdl:part name="parameters" element="ns1:sendUserOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRestaurants">
    <wsdl:part name="parameters" element="ns1:getRestaurants">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RestaurantsService">
    <wsdl:operation name="getRestaurants">
      <wsdl:input name="getRestaurants" message="ns1:getRestaurants">
    </wsdl:input>
      <wsdl:output name="getRestaurantsResponse" message="ns1:getRestaurantsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendUserOrder">
      <wsdl:input name="sendUserOrder" message="ns1:sendUserOrder">
    </wsdl:input>
      <wsdl:output name="sendUserOrderResponse" message="ns1:sendUserOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestaurantsServiceSoapBinding" type="ns1:RestaurantsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRestaurants">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRestaurants">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRestaurantsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendUserOrder">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendUserOrder">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendUserOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantsService">
    <wsdl:port name="RestaurantsServicePort" binding="ns1:RestaurantsServiceSoapBinding">
      <soap:address location="http://localhost:9090/RestaurantsServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
